@charset "utf-8";
/*下拉菜单按钮*/
.ppisDialog .ui-button{
	padding:0;
	margin:0;
	width:67px;
	height:25px;
	line-height:25px;
	border:0px;
	background: url(../images/publce_but.png) 0px 0px;
	cursor:pointer;
}
.ppisDialog .ui-button:hover{
	background-position: 0px -25px;
}
button.ppisDialog{
	height:22px;
	line-height:18px;
	background-image: url(../images/input_bg.jpg);
	background-repeat: repeat-x;
	border:1px solid #808395;
	padding-left:3px;
	overflow:hidden;
	position:relative;
	padding:0 0 0 3px;
	width:100%;
	vertical-align:middle;
}
button.numType{
	display:inline;
}
button.carnumpre{
	height:44px;
	font-size:36px;
	line-height:44px;
}
/*下拉菜单按钮箭头*/
button.ppisDialog .ui-icon{
	width:21px;
	height:21px;
	position:absolute;
	top:-2px;
	right:-2px;
	display: block;
	background: url(../images/element.png) no-repeat;
	background-position: -28px 0;
	overflow: hidden;
	cursor: pointer;
}
button.ppisDialog.ui-state-hover > .ui-icon{
	background-position: -75px 0 !important;
}
button.ppisDialog.carnumpre .ui-icon{
	width:21px;
	height:44px;
	position:absolute;
	background: url(../images/carnumpreIcon.png) no-repeat;
	background-position: 0 0;
}
button.ppisDialog.carnumpre.ui-state-hover > .ui-icon{
	background-position: 0 -44px !important;
}
.ppisDialog label.ui-state-hover{
	background: #B7BDD4;
}
.ppisDialog label.ui-corner-all{
	border:none;
}
.ui-corner-all{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}
.ppisDialog.ui-widget { font-family: Verdana,Arial,sans-serif; }
.ppisDialog.ui-widget .ui-widget { }
.ppisDialog.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ppisDialog.ui-widget-content { border: 1px solid #646a81; background: #9da5be; color: #222222; padding:0 !important; }
.ppisDialog.ui-widget-content a { color: #222222; }
.ppisDialog .ui-widget-header {
	zoom:1;
	color: #fff;
	font-weight: bold;
	font-size:12px;
	height:28px;
	line-height:28px;
	background: url(../images/wind_bg.jpg) repeat-x 50% 50% #cccccc;
	border:none;
	padding:0 0 0 5px;
	margin:0;
}
.ppisDialog .ui-widget-header a{
	color:#FFF;
}
.ppisDialog .ui-widget-header .ui-icon{
	margin-top:5px;
	cursor: pointer;
}
.ppisDialog .ui-widget-header:after{
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
.ppisDialog.ui-widget-header a { color: #222222; }
.departmentDialog.ui-dialog .ui-dialog-content .jstree-default{
	width:100%;
	overflow-x:hidden;
}
.ppisDialog.ui-dialog { position: absolute; overflow: hidden;}
.ppisDialog .ui-dialog-titlebar { padding:0; position: relative;  }
.ppisDialog .ui-dialog-title { padding-left:10px; margin:0; float: left;}
.ppisDialog .ui-dialog-titlebar-close {
	border: none;
	position: absolute;
	right: .4em;
	top: 0%;
	width: 30px;
	margin: 0px -5px 0px 0px;	
	height: 26px;
	background: url(../images/colse.png);
}
.ppisDialog .ui-dialog-titlebar-close .ui-icon{
	background:none;
}
.ppisDialog .ui-dialog-titlebar-close span { display: block; margin: 1px; cursor:pointer; }
.ppisDialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { background:url(../images/colseov.png); background-position:0px 1px; border:0px;}
.ppisDialog .ui-dialog-content { position: relative; border: 0; padding:5px; background: none; overflow: auto; zoom: 1; font-size:12px;}
.ppisDialog .ui-dialog-buttonpane { border:none; text-align: left; border-width: 1px 0 0 0; background: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ppisDialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ppisDialog .ui-dialog-buttonpane button { cursor: pointer; }
.ppisDialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }

.ppisDialog.ui-tabs.ui-widget-content, .ppisDialog .ui-multiselect-checkboxes{
	background:#C5CAE0;
	padding:5px;
}
.ui-multiselect-menu.ppisDialog{}/*IE6多选框防止文字过长被撑开*/
.ui-multiselect-menu.ui-multiselect-checkboxes{width:100%;overflow-x:hidden;}
.ppisDialog .ui-multiselect-checkboxes label{
	padding:3px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.ppisDialog .ui-multiselect-checkboxes li span{
	padding-left:5px;
	padding-right:5px;
	line-height: 18px;
}
.ppisDialog .ui-multiselect-checkboxes .ui-state-active{
	background:#646A81;
	color:#FFF;
}
.ppisDialog .ui-multiselect-header .ui-helper-reset{
	line-height: 28px;
}
.ppisDialog.ui-tabs{
	padding:0 !important;
}
.ppisDialog .ui-tabs-panel{
	padding:5px;
}
.ppisDialog .ui-tabs-nav li{
	border:none;
	float:left; background:url(../images/listtab_bg.png);
	width:84px;
	height:25px;
	float:left;
	text-align:center;
	margin-right:5px; cursor:pointer;
}
.ppisDialog .ui-tabs-nav li a{
	width:100%;
	padding:0;
	text-align:center;
	margin:0 auto;
}
.ppisDialog .ui-tabs-nav li.ui-state-active{
	background:url(../images/listtab_bg1.png); height:26px;
}
.ppisDialog .ui-tabs-nav li.ui-state-active a{
	color:#F60;
}

.ppisDialog .ui-button-text-only .ui-button-text { padding: 0; LINE-HEIGHT: 28px}

.jstree-default{
	background:#C5CAE0 !important;
}
.deviceZtree{
	padding:0px;
}
ul.deviceZtree{
	margin-top:0px;
	border-top:none;
	width: auto;
	height: auto;
	overflow-y:inherit;
	overflow-x: auto;
}